body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #6D28D9,
    #2563EB,
    #22D3EE,
    #EC4899
  );
  background-size: 400% 400%;

  animation: waveGradient 10s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
form{

  width: 300px;
  height: 500px;
color:rgb(12, 48, 17);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}
input{
background: linear-gradient(135deg, #1E3A8A, #38BDF8);
caret-color: white;

}
input::placeholder{
    color:aliceblue;
}
#sub{
    cursor:pointer;
    color: rgb(12, 48, 17);
}
